* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
.herosection{
  margin-left: 700px;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.herosectionText {
  margin-top: 200px;
}
.subdivHerosectionCardOne {
  margin-top: -100px;
}
.subdivHerosectionCardTwo,.subdivHerosectionCardThree,.subdivHerosectionCardFour{
 margin-top: -50px;
}
.cardText{
  margin-left: -100px;

}
.imageboxtop{
  margin-top: -40px;
  margin-left: 80px;
  padding: 5px;
}
.maindivHsicon{
  display: flex;
  justify-content: space-evenly;
}
.maindivHsicon p{
  margin-left: -10px;
}
.group li{
  margin-left: -20px;
}
@media (max-width:500px){
  .logo img{
    width: 50px;
    margin-left: -40px;
  }
  .herosectioncard,.herosectiontwo,.subdivHsiconthree,.subdivHsiconfour,.subdivdoctorCardone,.subdivContactForm1,.subdivfooter4{
    display: none;
  }
  .maindivHsicon{
    display: block;
  }
  .subdivdoctorCard {
    margin-left: -35px;
}
  .subdivHsiconone{
 margin-bottom: 40px;
  }  
  .para p,.subdiv p,.subdiv span{
    display: none;
  }
  .subdiv img {
    margin-left: -140px;
    width: 230px;
    margin-top: 51px;
}
  .herosectionText {
    margin-top: 50px; 
    margin-left: -30px;
}
  .herosectionText h2{
    font-size: 16px;
  }
  .herosectionText p{
    display: none;
    
  }
  .herosectionText button{
    font-size: 8px;
  }
  .maindivContactForm{
    margin-top: -75px;
  }
  .maindivContactForm button{
    text-align: center;
    margin-left: 110px;
    margin-bottom: 0px;
}
.map iframe{
  width:  100%;
}
.maindivFooter{
  display: flex;
  justify-content: space-evenly;
}

.maindivFooter h3{
  font-size: 12px;
}
.maindivFooter span{
  font-size: 12px;
}
.maindivFooter b{
  font-size: 10px;
}
.maindivFooter p{
  display: none;
}
.subdivfooter2 li,.subdivfooter3 li {
  list-style-type: none;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 5px;
}
.copyRight h5{
    font-size: 12px;
    margin: 0;
}
.logo img {
  width: 50px;
  margin-left: -20px;
}
.herosectionText {
  margin-top: 50px; 
  margin-left: -400px;
}
}
@media (min-width:500px) and (max-width:1000px){
  .herosectioncard,.herosectiontwo,.HSicons{
    display: none;
  }
  .logo img{
    width: 60px;
    margin-left: -20px;
  }
  .herosectionText {
    margin-top: 100px; 
    margin-left: -30px;
}
  .herosectionText h2{
    font-size: 40px;
    margin-left: -80px;
  }
  .herosectionText p{
  display: none;
    
  }
  .herosectionText button{
    font-size: 14px;
  }
  .map iframe{
    width:  100%;
  }
  .para p,.subdiv p,.subdiv span,.subdivContactForm1{
    display: none;
  }
  .maindivContactForm {
    margin-top: -50px;
  }
}